body {
    font-family: Arial,  sans-serif; /* Семейство шрифтов */
    font-size: 15px; /* Размер основного шрифта в <p></p>  */
    background-color: #f0f0f0; /* Цвет фона веб-страницы */
    color: #333333; /* Цвет основного текста */ 
    background-color: #FD98FB
}
h1 {
    color: #00a800; /* Цвет заголовка */
    font-size: 24px; /* Размер шрифта в пунктах */
    font-family: cursive; /* Семейство шрифтов */
}
li {
    color: #00a800; /* Цвет заголовка */
    font-size: 15px; /* Размер шрифта в пунктах */
    font-family: cursive; /* Семейство шрифтов */
}
